body{
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.neon-wrapper{
  display: inline-flex;
  filter: brightness(200%);
  overflow: hidden;
}

.text{
  color: red;
  background: black;
  font-size: 10vmin;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto';
}

.text:before{
  content: 'Wish you were here';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(2px);
}

.dodge{
  background: radial-gradient(circle, white, black 15%) center / 10% 20%;
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-dodge;
  animation: lightup 50s linear infinite;
  filter: brightness(80%);
}

@keyframes lightup{
  to{
    transform: translate(50%, 50%);
  }
}